Teleopti.Ccc.Sdk/Teleopti.Ccc.Sdk.Client/Web References/SdkServiceReference/TeleoptiCccSdkService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2012/04/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2012/04/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetAllScenariosQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllScenariosQueryDto" nillable="true" type="tns:GetAllScenariosQueryDto" />
  <xs:complexType name="GetSchedulesByTeamQueryHandlerDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q2:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q3:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q4:DateOnlyDto" />
          <xs:element minOccurs="0" name="TeamId" type="ser:guid" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByTeamQueryHandlerDto" nillable="true" type="tns:GetSchedulesByTeamQueryHandlerDto" />
  <xs:complexType name="GetSchedulesByPersonQueryHandlerDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q5:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q6:DateOnlyDto" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q7="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q7:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByPersonQueryHandlerDto" nillable="true" type="tns:GetSchedulesByPersonQueryHandlerDto" />
  <xs:complexType name="GetSchedulesForAllPeopleQueryHandlerDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q8:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q9:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q10="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q10:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesForAllPeopleQueryHandlerDto" nillable="true" type="tns:GetSchedulesForAllPeopleQueryHandlerDto" />
  <xs:complexType name="GetSchedulesBySiteQueryHandlerDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q11:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q12:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SiteId" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q13="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q13:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesBySiteQueryHandlerDto" nillable="true" type="tns:GetSchedulesBySiteQueryHandlerDto" />
  <xs:complexType name="GetSchedulesByGroupPageGroupQueryHandlerDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q14:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupPageGroupId" type="ser:guid" />
          <xs:element xmlns:q15="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="QueryDate" nillable="true" type="q15:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByGroupPageGroupQueryHandlerDto" nillable="true" type="tns:GetSchedulesByGroupPageGroupQueryHandlerDto" />
</xs:schema>