Teleopti.Ccc.Sdk/Teleopti.Ccc.Sdk.Client/Web References/SdkServiceReference/TeleoptiCccSdkService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2012/04/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2012/04/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="GetAllScenariosQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllScenariosQueryDto" nillable="true" type="tns:GetAllScenariosQueryDto" />
  <xs:complexType name="GetSchedulesByGroupPageGroupQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q2:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupPageGroupId" type="ser:guid" />
          <xs:element xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="QueryDate" nillable="true" type="q3:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByGroupPageGroupQueryDto" nillable="true" type="tns:GetSchedulesByGroupPageGroupQueryDto" />
  <xs:complexType name="GetSchedulesByPersonQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q4:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q5:DateOnlyDto" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q6:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByPersonQueryDto" nillable="true" type="tns:GetSchedulesByPersonQueryDto" />
  <xs:complexType name="GetSchedulesBySiteQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q7:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q8:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SiteId" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q9:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesBySiteQueryDto" nillable="true" type="tns:GetSchedulesBySiteQueryDto" />
  <xs:complexType name="GetSchedulesByTeamQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q10:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q11:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q12="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q12:DateOnlyDto" />
          <xs:element minOccurs="0" name="TeamId" type="ser:guid" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByTeamQueryDto" nillable="true" type="tns:GetSchedulesByTeamQueryDto" />
  <xs:complexType name="GetSchedulesForAllPeopleQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q13:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q14:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q15="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q15:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesForAllPeopleQueryDto" nillable="true" type="tns:GetSchedulesForAllPeopleQueryDto" />
</xs:schema>