Teleopti.Ccc.Sdk/SdkTestClientWin/Web References/Sdk/TeleoptiCccSdkService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Sdk.Common.DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Sdk.Common.DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:simpleType name="AuthenticationTypeOptionDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Application" />
      <xs:enumeration value="Windows" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationTypeOptionDto" nillable="true" type="tns:AuthenticationTypeOptionDto" />
  <xs:complexType name="ScheduleTagDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q1:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleTagDto" nillable="true" type="tns:ScheduleTagDto" />
  <xs:simpleType name="RequestStatusDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Denied" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="New" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestStatusDto" nillable="true" type="tns:RequestStatusDto" />
  <xs:simpleType name="ShiftTradeStatusDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OkByMe" />
      <xs:enumeration value="OkByBothParts" />
      <xs:enumeration value="NotValid" />
      <xs:enumeration value="Referred" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShiftTradeStatusDto" nillable="true" type="tns:ShiftTradeStatusDto" />
  <xs:simpleType name="MultiplicatorTypeDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OBTime" />
      <xs:enumeration value="Overtime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MultiplicatorTypeDto" nillable="true" type="tns:MultiplicatorTypeDto" />
  <xs:complexType name="ArrayOfScheduleTagDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleTagDto" nillable="true" type="tns:ScheduleTagDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleTagDto" nillable="true" type="tns:ArrayOfScheduleTagDto" />
  <xs:simpleType name="ImportForecastsOptionsDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ImportWorkload" />
      <xs:enumeration value="ImportStaffing" />
      <xs:enumeration value="ImportWorkloadAndStaffing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImportForecastsOptionsDto" nillable="true" type="tns:ImportForecastsOptionsDto" />
</xs:schema>