Teleopti.Ccc.Sdk/SdkTestClientWin/Web References/Sdk/TeleoptiCccSdkService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2014/04/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2014/04/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:complexType name="GetSkillDaysByPeriodQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q2:DateOnlyPeriodDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSkillDaysByPeriodQueryDto" nillable="true" type="tns:GetSkillDaysByPeriodQueryDto" />
</xs:schema>