Teleopti.Ccc.Sdk/SdkTestClientWin/Web References/Sdk/TeleoptiCccSdkService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2019/03/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2019/03/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="GetSchedulesByChangeDateQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence>
          <xs:element name="ChangesFromUTC" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ChangesToUTC" type="xs:dateTime" />
          <xs:element name="Page" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByChangeDateQueryDto" nillable="true" type="tns:GetSchedulesByChangeDateQueryDto" />
  <xs:complexType name="ScheduleChangesDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q2:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChangesUpToUTC" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Page" type="xs:int" />
          <xs:element minOccurs="0" name="Schedules" nillable="true" type="q2:ArrayOfSchedulePartDto" />
          <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
          <xs:element minOccurs="0" name="TotalSchedules" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleChangesDto" nillable="true" type="tns:ScheduleChangesDto" />
</xs:schema>