Teleopti.Ccc.Sdk/SdkTestClientWin/Web References/Sdk/TeleoptiCccSdkService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2012/04/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2012/04/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="GetAllRolesQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllRolesQueryDto" nillable="true" type="tns:GetAllRolesQueryDto" />
  <xs:complexType name="GetSchedulesByGroupPageGroupQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q2:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupPageGroupId" type="ser:guid" />
          <xs:element xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="QueryDate" nillable="true" type="q3:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByGroupPageGroupQueryDto" nillable="true" type="tns:GetSchedulesByGroupPageGroupQueryDto" />
  <xs:complexType name="GetSchedulesBySiteQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q4:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q5:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SiteId" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q6:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesBySiteQueryDto" nillable="true" type="tns:GetSchedulesBySiteQueryDto" />
  <xs:complexType name="GetAllScenariosQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q7:QueryDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllScenariosQueryDto" nillable="true" type="tns:GetAllScenariosQueryDto" />
  <xs:complexType name="GetSchedulesByPersonQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q8:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q9:DateOnlyDto" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q10="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q10:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByPersonQueryDto" nillable="true" type="tns:GetSchedulesByPersonQueryDto" />
  <xs:complexType name="GetSchedulesByTeamQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q11:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q12:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q13="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q13:DateOnlyDto" />
          <xs:element minOccurs="0" name="TeamId" type="ser:guid" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesByTeamQueryDto" nillable="true" type="tns:GetSchedulesByTeamQueryDto" />
  <xs:complexType name="GetSchedulesForAllPeopleQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q14:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="EndDate" nillable="true" type="q15:DateOnlyDto" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
          <xs:element xmlns:q16="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="StartDate" nillable="true" type="q16:DateOnlyDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSchedulesForAllPeopleQueryDto" nillable="true" type="tns:GetSchedulesForAllPeopleQueryDto" />
  <xs:complexType name="AddPersonalActivityCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q17:CommandDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityId" type="ser:guid" />
          <xs:element xmlns:q18="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Date" nillable="true" type="q18:DateOnlyDto" />
          <xs:element xmlns:q19="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q19:DateTimePeriodDto" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ScheduleTagId" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddPersonalActivityCommandDto" nillable="true" type="tns:AddPersonalActivityCommandDto" />
  <xs:complexType name="CancelPersonalActivityCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q20:CommandDto">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Date" nillable="true" type="q21:DateOnlyDto" />
          <xs:element xmlns:q22="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q22:DateTimePeriodDto" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element minOccurs="0" name="ScenarioId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ScheduleTagId" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelPersonalActivityCommandDto" nillable="true" type="tns:CancelPersonalActivityCommandDto" />
</xs:schema>