Teleopti.Ccc.Sdk/SdkTestClientWin/Web References/Sdk/TeleoptiCccSdkService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Sdk.Common.DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Sdk.Common.DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AuthenticationTypeOptionDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Application" />
      <xs:enumeration value="Windows" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationTypeOptionDto" nillable="true" type="tns:AuthenticationTypeOptionDto" />
  <xs:simpleType name="RequestStatusDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Denied" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="New" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestStatusDto" nillable="true" type="tns:RequestStatusDto" />
  <xs:simpleType name="ShiftTradeStatusDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OkByMe" />
      <xs:enumeration value="OkByBothParts" />
      <xs:enumeration value="NotValid" />
      <xs:enumeration value="Referred" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShiftTradeStatusDto" nillable="true" type="tns:ShiftTradeStatusDto" />
  <xs:simpleType name="MultiplicatorTypeDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OBTime" />
      <xs:enumeration value="Overtime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MultiplicatorTypeDto" nillable="true" type="tns:MultiplicatorTypeDto" />
  <xs:simpleType name="ImportForecastsOptionsDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ImportWorkload" />
      <xs:enumeration value="ImportStaffing" />
      <xs:enumeration value="ImportWorkloadAndStaffing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImportForecastsOptionsDto" nillable="true" type="tns:ImportForecastsOptionsDto" />
</xs:schema>