Teleopti.Ccc.Sdk/SdkTestClientWin/Web References/Sdk/TeleoptiCccSdkService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2011/07/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1335/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="QueryDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="QueryDto" nillable="true" type="tns:QueryDto" />
  <xs:complexType name="GetSiteByIdQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="SiteId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSiteByIdQueryDto" nillable="true" type="tns:GetSiteByIdQueryDto" />
  <xs:complexType name="GetTeamByDescriptionNameQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescriptionName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTeamByDescriptionNameQueryDto" nillable="true" type="tns:GetTeamByDescriptionNameQueryDto" />
  <xs:complexType name="GetTeamByIdQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="TeamId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTeamByIdQueryDto" nillable="true" type="tns:GetTeamByIdQueryDto" />
  <xs:complexType name="GetPersonByEmploymentNumberQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmploymentNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPersonByEmploymentNumberQueryDto" nillable="true" type="tns:GetPersonByEmploymentNumberQueryDto" />
  <xs:complexType name="GetSiteByDescriptionNameQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescriptionName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSiteByDescriptionNameQueryDto" nillable="true" type="tns:GetSiteByDescriptionNameQueryDto" />
  <xs:complexType name="GetPersonByIdQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPersonByIdQueryDto" nillable="true" type="tns:GetPersonByIdQueryDto" />
  <xs:complexType name="CommandDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CommandDto" nillable="true" type="tns:CommandDto" />
  <xs:complexType name="DenyRequestCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommandDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonRequestId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DenyRequestCommandDto" nillable="true" type="tns:DenyRequestCommandDto" />
  <xs:complexType name="ExportMultisiteSkillToSkillCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommandDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="MultisiteSkillSelection" nillable="true" type="tns:ArrayOfMultisiteSkillSelectionDto" />
          <xs:element xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q1:DateOnlyPeriodDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportMultisiteSkillToSkillCommandDto" nillable="true" type="tns:ExportMultisiteSkillToSkillCommandDto" />
  <xs:complexType name="ArrayOfMultisiteSkillSelectionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MultisiteSkillSelectionDto" nillable="true" type="tns:MultisiteSkillSelectionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMultisiteSkillSelectionDto" nillable="true" type="tns:ArrayOfMultisiteSkillSelectionDto" />
  <xs:complexType name="MultisiteSkillSelectionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildSkillMapping" nillable="true" type="tns:ArrayOfChildSkillMappingDto" />
      <xs:element xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="MultisiteSkill" nillable="true" type="q2:SkillDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultisiteSkillSelectionDto" nillable="true" type="tns:MultisiteSkillSelectionDto" />
  <xs:complexType name="ArrayOfChildSkillMappingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildSkillMappingDto" nillable="true" type="tns:ChildSkillMappingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChildSkillMappingDto" nillable="true" type="tns:ArrayOfChildSkillMappingDto" />
  <xs:complexType name="ChildSkillMappingDto">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="SourceSkill" nillable="true" type="q3:SkillDto" />
      <xs:element xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="TargetSkill" nillable="true" type="q4:SkillDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChildSkillMappingDto" nillable="true" type="tns:ChildSkillMappingDto" />
  <xs:complexType name="ApproveRequestCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommandDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonRequestId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApproveRequestCommandDto" nillable="true" type="tns:ApproveRequestCommandDto" />
  <xs:complexType name="CommandResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectedId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="AffectedItems" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandResultDto" nillable="true" type="tns:CommandResultDto" />
</xs:schema>